<div>
  <h2 id="page-heading" data-cy="MenusHeading">
    <span jhiTranslate="hmsgatewayApp.hmsmenuMenus.home.title">Menus</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="hmsgatewayApp.hmsmenuMenus.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-menus"
        [routerLink]="['/menus/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="hmsgatewayApp.hmsmenuMenus.home.createLabel"> Create a new Menus </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="menus?.length === 0">
    <span jhiTranslate="hmsgatewayApp.hmsmenuMenus.home.notFound">No Menus found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="menus && menus.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmsmenuMenus.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="menuDay">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmsmenuMenus.menuDay">Menu Day</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="menuTime">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmsmenuMenus.menuTime">Menu Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contactId">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmsmenuMenus.contactId">Contact Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cost">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmsmenuMenus.cost">Cost</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="salesPrice">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmsmenuMenus.salesPrice">Sales Price</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="explanation">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmsmenuMenus.explanation">Explanation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmsmenuMenus.createdDate">Created Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nutriens.name">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmsmenuMenus.nutriens">Nutriens</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let menus of menus; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/menus', menus.id, 'view']">{{ menus.id }}</a>
          </td>
          <td>{{ menus.name }}</td>
          <td jhiTranslate="{{ 'hmsgatewayApp.DAYS.' + menus.menuDay }}">{{ menus.menuDay }}</td>
          <td jhiTranslate="{{ 'hmsgatewayApp.REPAST.' + menus.menuTime }}">{{ menus.menuTime }}</td>
          <td>{{ menus.contactId }}</td>
          <td>{{ menus.cost }}</td>
          <td>{{ menus.salesPrice }}</td>
          <td>{{ menus.explanation }}</td>
          <td>{{ menus.createdDate | formatMediumDate }}</td>
          <td>
            <div *ngIf="menus.nutriens">
              <a [routerLink]="['/nutriens', menus.nutriens.id, 'view']">{{ menus.nutriens.name }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/menus', menus.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/menus', menus.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(menus)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="menus && menus.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
