<div>
  <h2 id="page-heading" data-cy="ConditionsHeading">
    <span jhiTranslate="hmsgatewayApp.hmsfinanceConditions.home.title">Conditions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="hmsgatewayApp.hmsfinanceConditions.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-conditions"
        [routerLink]="['/conditions/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="hmsgatewayApp.hmsfinanceConditions.home.createLabel"> Create a new Conditions </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="conditions?.length === 0">
    <span jhiTranslate="hmsgatewayApp.hmsfinanceConditions.home.notFound">No Conditions found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="conditions && conditions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmsfinanceConditions.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="type">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmsfinanceConditions.type">Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmsfinanceConditions.createdDate">Created Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="conditionDetails.name">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmsfinanceConditions.conditionDetails">Condition Details</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let conditions of conditions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/conditions', conditions.id, 'view']">{{ conditions.id }}</a>
          </td>
          <td>{{ conditions.name }}</td>
          <td jhiTranslate="{{ 'hmsgatewayApp.VALUETYPES.' + conditions.type }}">{{ conditions.type }}</td>
          <td>{{ conditions.createdDate | formatMediumDate }}</td>
          <td>
            <span *ngFor="let conditionDetails of conditions.conditionDetails; let last = last">
              <a class="form-control-static" [routerLink]="['/condition-details', conditionDetails.id, 'view']">{{
                conditionDetails.name
              }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/conditions', conditions.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/conditions', conditions.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(conditions)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
