<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="cookTransactions">
      <h2 data-cy="cookTransactionsDetailsHeading">
        <span jhiTranslate="hmsgatewayApp.hmskitchenCookTransactions.detail.title">Cook Transactions</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cookTransactions.id }}</span>
        </dd>
        <dt><span jhiTranslate="hmsgatewayApp.hmskitchenCookTransactions.kitchenId">Kitchen Id</span></dt>
        <dd>
          <span>{{ cookTransactions.kitchenId }}</span>
        </dd>
        <dt><span jhiTranslate="hmsgatewayApp.hmskitchenCookTransactions.statusChangedDate">Status Changed Date</span></dt>
        <dd>
          <span>{{ cookTransactions.statusChangedDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="hmsgatewayApp.hmskitchenCookTransactions.transactionDate">Transaction Date</span></dt>
        <dd>
          <span>{{ cookTransactions.transactionDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="hmsgatewayApp.hmskitchenCookTransactions.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'hmsgatewayApp.KITCHENTYPES.' + cookTransactions.type }}">{{ cookTransactions.type }}</span>
        </dd>
        <dt><span jhiTranslate="hmsgatewayApp.hmskitchenCookTransactions.createdDate">Created Date</span></dt>
        <dd>
          <span>{{ cookTransactions.createdDate | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cook-transactions', cookTransactions.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
