<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-items-heading" data-cy="ItemsCreateUpdateHeading" jhiTranslate="hmsgatewayApp.hmsfinanceItems.home.createOrEditLabel">
        Create or edit a Items
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hmsgatewayApp.hmsfinanceItems.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hmsgatewayApp.hmsfinanceItems.itemId" for="field_itemId">Item Id</label>
          <input type="number" class="form-control" name="itemId" id="field_itemId" data-cy="itemId" formControlName="itemId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hmsgatewayApp.hmsfinanceItems.itemCode" for="field_itemCode">Item Code</label>
          <input type="text" class="form-control" name="itemCode" id="field_itemCode" data-cy="itemCode" formControlName="itemCode" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hmsgatewayApp.hmsfinanceItems.type" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'hmsgatewayApp.ITEMTYPES.null' | translate }}</option>
            <option *ngFor="let iTEMTYPES of iTEMTYPESValues" [value]="iTEMTYPES">
              {{ 'hmsgatewayApp.ITEMTYPES.' + iTEMTYPES | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hmsgatewayApp.hmsfinanceItems.explain" for="field_explain">Explain</label>
          <input type="text" class="form-control" name="explain" id="field_explain" data-cy="explain" formControlName="explain" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hmsgatewayApp.hmsfinanceItems.cost" for="field_cost">Cost</label>
          <input type="number" class="form-control" name="cost" id="field_cost" data-cy="cost" formControlName="cost" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hmsgatewayApp.hmsfinanceItems.price" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hmsgatewayApp.hmsfinanceItems.isActive" for="field_isActive">Is Active</label>
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hmsgatewayApp.hmsfinanceItems.createdDate" for="field_createdDate">Created Date</label>
          <div class="input-group">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="text"
              class="form-control"
              name="createdDate"
              ngbDatepicker
              #createdDateDp="ngbDatepicker"
              formControlName="createdDate"
            />
            <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hmsgatewayApp.hmsfinanceItems.templates" for="field_templates">Templates</label>
          <select
            class="form-control"
            id="field_templates"
            data-cy="templates"
            name="templates"
            formControlName="templates"
            [compareWith]="compareTemplates"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="templatesOption" *ngFor="let templatesOption of templatesSharedCollection">
              {{ templatesOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
