<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="menuSuggestions">
      <h2 data-cy="menuSuggestionsDetailsHeading">
        <span jhiTranslate="hmsgatewayApp.hmsnutritionistMenuSuggestions.detail.title">Menu Suggestions</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ menuSuggestions.id }}</span>
        </dd>
        <dt><span jhiTranslate="hmsgatewayApp.hmsnutritionistMenuSuggestions.name">Name</span></dt>
        <dd>
          <span>{{ menuSuggestions.name }}</span>
        </dd>
        <dt><span jhiTranslate="hmsgatewayApp.hmsnutritionistMenuSuggestions.nutritionistId">Nutritionist Id</span></dt>
        <dd>
          <span>{{ menuSuggestions.nutritionistId }}</span>
        </dd>
        <dt><span jhiTranslate="hmsgatewayApp.hmsnutritionistMenuSuggestions.customerId">Customer Id</span></dt>
        <dd>
          <span>{{ menuSuggestions.customerId }}</span>
        </dd>
        <dt><span jhiTranslate="hmsgatewayApp.hmsnutritionistMenuSuggestions.menuGroupId">Menu Group Id</span></dt>
        <dd>
          <span>{{ menuSuggestions.menuGroupId }}</span>
        </dd>
        <dt><span jhiTranslate="hmsgatewayApp.hmsnutritionistMenuSuggestions.notes">Notes</span></dt>
        <dd>
          <span>{{ menuSuggestions.notes }}</span>
        </dd>
        <dt><span jhiTranslate="hmsgatewayApp.hmsnutritionistMenuSuggestions.createdDate">Created Date</span></dt>
        <dd>
          <span>{{ menuSuggestions.createdDate | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/menu-suggestions', menuSuggestions.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
