<div>
  <h2 id="page-heading" data-cy="TemplateItemsHeading">
    <span jhiTranslate="hmsgatewayApp.hmsfinanceTemplateItems.home.title">Template Items</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="hmsgatewayApp.hmsfinanceTemplateItems.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-template-items"
        [routerLink]="['/template-items/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="hmsgatewayApp.hmsfinanceTemplateItems.home.createLabel"> Create a new Template Items </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="templateItems?.length === 0">
    <span jhiTranslate="hmsgatewayApp.hmsfinanceTemplateItems.home.notFound">No Template Items found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="templateItems && templateItems.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmsfinanceTemplateItems.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="code">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmsfinanceTemplateItems.code">Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="type">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmsfinanceTemplateItems.type">Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="valueType">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmsfinanceTemplateItems.valueType">Value Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="amount">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmsfinanceTemplateItems.amount">Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="explanation">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmsfinanceTemplateItems.explanation">Explanation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="startDate">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmsfinanceTemplateItems.startDate">Start Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dueDate">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmsfinanceTemplateItems.dueDate">Due Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isOnce">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmsfinanceTemplateItems.isOnce">Is Once</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmsfinanceTemplateItems.createdDate">Created Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="conditions.name">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmsfinanceTemplateItems.conditions">Conditions</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let templateItems of templateItems; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/template-items', templateItems.id, 'view']">{{ templateItems.id }}</a>
          </td>
          <td>{{ templateItems.name }}</td>
          <td>{{ templateItems.code }}</td>
          <td jhiTranslate="{{ 'hmsgatewayApp.DETAILTYPES.' + templateItems.type }}">{{ templateItems.type }}</td>
          <td jhiTranslate="{{ 'hmsgatewayApp.VALUETYPES.' + templateItems.valueType }}">{{ templateItems.valueType }}</td>
          <td>{{ templateItems.amount }}</td>
          <td>{{ templateItems.explanation }}</td>
          <td>{{ templateItems.startDate | formatMediumDate }}</td>
          <td>{{ templateItems.dueDate | formatMediumDate }}</td>
          <td>{{ templateItems.isOnce }}</td>
          <td>{{ templateItems.createdDate | formatMediumDate }}</td>
          <td>
            <div *ngIf="templateItems.conditions">
              <a [routerLink]="['/conditions', templateItems.conditions.id, 'view']">{{ templateItems.conditions.name }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/template-items', templateItems.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/template-items', templateItems.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(templateItems)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
