<div>
  <h2 id="page-heading" data-cy="CookTransactionsHeading">
    <span jhiTranslate="hmsgatewayApp.hmskitchenCookTransactions.home.title">Cook Transactions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="hmsgatewayApp.hmskitchenCookTransactions.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cook-transactions"
        [routerLink]="['/cook-transactions/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="hmsgatewayApp.hmskitchenCookTransactions.home.createLabel"> Create a new Cook Transactions </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cookTransactions?.length === 0">
    <span jhiTranslate="hmsgatewayApp.hmskitchenCookTransactions.home.notFound">No Cook Transactions found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="cookTransactions && cookTransactions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="kitchenId">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmskitchenCookTransactions.kitchenId">Kitchen Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="statusChangedDate">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmskitchenCookTransactions.statusChangedDate">Status Changed Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="transactionDate">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmskitchenCookTransactions.transactionDate">Transaction Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="type">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmskitchenCookTransactions.type">Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <div class="d-flex">
              <span jhiTranslate="hmsgatewayApp.hmskitchenCookTransactions.createdDate">Created Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cookTransactions of cookTransactions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cook-transactions', cookTransactions.id, 'view']">{{ cookTransactions.id }}</a>
          </td>
          <td>{{ cookTransactions.kitchenId }}</td>
          <td>{{ cookTransactions.statusChangedDate | formatMediumDate }}</td>
          <td>{{ cookTransactions.transactionDate | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'hmsgatewayApp.KITCHENTYPES.' + cookTransactions.type }}">{{ cookTransactions.type }}</td>
          <td>{{ cookTransactions.createdDate | formatMediumDate }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cook-transactions', cookTransactions.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cook-transactions', cookTransactions.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(cookTransactions)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
