<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="deliveryOrders">
      <h2 data-cy="deliveryOrdersDetailsHeading">
        <span jhiTranslate="hmsgatewayApp.hmsdeliveryDeliveryOrders.detail.title"
          >Entity translation missing for hmsgatewayApp.hmsdeliveryDeliveryOrders.detail.title</span
        >
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ deliveryOrders.id }}</span>
        </dd>
        <dt><span jhiTranslate="hmsgatewayApp.hmsdeliveryDeliveryOrders.deliveryId">Delivery Id</span></dt>
        <dd>
          <span>{{ deliveryOrders.deliveryId }}</span>
        </dd>
        <dt><span jhiTranslate="hmsgatewayApp.hmsdeliveryDeliveryOrders.invoiceNumber">Invoice Number</span></dt>
        <dd>
          <span>{{ deliveryOrders.invoiceNumber }}</span>
        </dd>
        <dt><span jhiTranslate="hmsgatewayApp.hmsdeliveryDeliveryOrders.contactId">Contact Id</span></dt>
        <dd>
          <span>{{ deliveryOrders.contactId }}</span>
        </dd>
        <dt><span jhiTranslate="hmsgatewayApp.hmsdeliveryDeliveryOrders.contactName">Contact Name</span></dt>
        <dd>
          <span>{{ deliveryOrders.contactName }}</span>
        </dd>
        <dt><span jhiTranslate="hmsgatewayApp.hmsdeliveryDeliveryOrders.contactAddressId">Contact Address Id</span></dt>
        <dd>
          <span>{{ deliveryOrders.contactAddressId }}</span>
        </dd>
        <dt><span jhiTranslate="hmsgatewayApp.hmsdeliveryDeliveryOrders.contactCartId">Contact Cart Id</span></dt>
        <dd>
          <span>{{ deliveryOrders.contactCartId }}</span>
        </dd>
        <dt><span jhiTranslate="hmsgatewayApp.hmsdeliveryDeliveryOrders.deliveryDate">Delivery Date</span></dt>
        <dd>
          <span>{{ deliveryOrders.deliveryDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="hmsgatewayApp.hmsdeliveryDeliveryOrders.requestDate">Request Date</span></dt>
        <dd>
          <span>{{ deliveryOrders.requestDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="hmsgatewayApp.hmsdeliveryDeliveryOrders.menuItemId">Menu Item Id</span></dt>
        <dd>
          <span>{{ deliveryOrders.menuItemId }}</span>
        </dd>
        <dt><span jhiTranslate="hmsgatewayApp.hmsdeliveryDeliveryOrders.menuItemName">Menu Item Name</span></dt>
        <dd>
          <span>{{ deliveryOrders.menuItemName }}</span>
        </dd>
        <dt><span jhiTranslate="hmsgatewayApp.hmsdeliveryDeliveryOrders.menuItemCode">Menu Item Code</span></dt>
        <dd>
          <span>{{ deliveryOrders.menuItemCode }}</span>
        </dd>
        <dt><span jhiTranslate="hmsgatewayApp.hmsdeliveryDeliveryOrders.lineNumber">Line Number</span></dt>
        <dd>
          <span>{{ deliveryOrders.lineNumber }}</span>
        </dd>
        <dt><span jhiTranslate="hmsgatewayApp.hmsdeliveryDeliveryOrders.detail">Detail</span></dt>
        <dd>
          <span>{{ deliveryOrders.detail }}</span>
        </dd>
        <dt><span jhiTranslate="hmsgatewayApp.hmsdeliveryDeliveryOrders.message">Message</span></dt>
        <dd>
          <span>{{ deliveryOrders.message }}</span>
        </dd>
        <dt><span jhiTranslate="hmsgatewayApp.hmsdeliveryDeliveryOrders.createdDate">Created Date</span></dt>
        <dd>
          <span>{{ deliveryOrders.createdDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="hmsgatewayApp.hmsdeliveryDeliveryOrders.deliveryTransactions">Delivery Transactions</span></dt>
        <dd>
          <span *ngFor="let deliveryTransactions of deliveryOrders.deliveryTransactions; let last = last">
            <a [routerLink]="['/delivery-transactions', deliveryTransactions.id, 'view']">{{ deliveryTransactions.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/delivery-orders', deliveryOrders.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
