<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-contacts-heading"
        data-cy="ContactsCreateUpdateHeading"
        jhiTranslate="hmsgatewayApp.hmscontactContacts.home.createOrEditLabel"
      >
        Create or edit a Contacts
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hmsgatewayApp.hmscontactContacts.userID" for="field_userID">User ID</label>
          <input type="text" class="form-control" name="userID" id="field_userID" data-cy="userID" formControlName="userID" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hmsgatewayApp.hmscontactContacts.type" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'hmsgatewayApp.CONTACTTYPE.null' | translate }}</option>
            <option *ngFor="let cONTACTTYPE of cONTACTTYPEValues" [value]="cONTACTTYPE">
              {{ 'hmsgatewayApp.CONTACTTYPE.' + cONTACTTYPE | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hmsgatewayApp.hmscontactContacts.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hmsgatewayApp.hmscontactContacts.hstNumber" for="field_hstNumber">Hst Number</label>
          <input type="text" class="form-control" name="hstNumber" id="field_hstNumber" data-cy="hstNumber" formControlName="hstNumber" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hmsgatewayApp.hmscontactContacts.detail" for="field_detail">Detail</label>
          <input type="text" class="form-control" name="detail" id="field_detail" data-cy="detail" formControlName="detail" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hmsgatewayApp.hmscontactContacts.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hmsgatewayApp.hmscontactContacts.phone" for="field_phone">Phone</label>
          <input type="text" class="form-control" name="phone" id="field_phone" data-cy="phone" formControlName="phone" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hmsgatewayApp.hmscontactContacts.gender" for="field_gender">Gender</label>
          <input type="checkbox" class="form-check" name="gender" id="field_gender" data-cy="gender" formControlName="gender" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hmsgatewayApp.hmscontactContacts.birthdate" for="field_birthdate">Birthdate</label>
          <div class="input-group">
            <input
              id="field_birthdate"
              data-cy="birthdate"
              type="text"
              class="form-control"
              name="birthdate"
              ngbDatepicker
              #birthdateDp="ngbDatepicker"
              formControlName="birthdate"
            />
            <button type="button" class="btn btn-secondary" (click)="birthdateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hmsgatewayApp.hmscontactContacts.createdDate" for="field_createdDate">Created Date</label>
          <div class="input-group">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="text"
              class="form-control"
              name="createdDate"
              ngbDatepicker
              #createdDateDp="ngbDatepicker"
              formControlName="createdDate"
            />
            <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="hmsgatewayApp.hmscontactContacts.contactAddresses" for="field_contactAddresses">Contact Addresses</label>
          <select
            class="form-control"
            id="field_contactAddresses"
            data-cy="contactAddresses"
            multiple
            name="contactAddresses"
            formControlName="contactAddresses"
            [compareWith]="compareContactAddresses"
          >
            <option [ngValue]="contactAddressesOption" *ngFor="let contactAddressesOption of contactAddressesSharedCollection">
              {{ contactAddressesOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
